.badge-n{
  padding: 10px 20px; 
}

.input-type{
  font-size: 30px;
}


// Radio Input
.cc-selector{
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.visa {
  background-image: url(../../assets/1_cor.png);
}

.mastercard {
  background-image: url(../../assets/2_cor.png);
}

.cc-selector input:active+.drinkcard-cc {
  opacity: .9;
}

.cc-selector input:checked+.drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 70px;
  height: 70px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1.8) grayscale(1) opacity(.7);
}

.drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */

a:visited {
  color: #888
}

a {
  color: #444;
  text-decoration: none;
}

p {
  margin-bottom: .3em;
}

/* Checkbox */
[type=checkbox]:checked,
[type=checkbox]:not(:checked) {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkbox-warning-filled [type="checkbox"][class*='filled-in']:checked+label:after {
  border-color: #FF8800;
  background-color: #FF8800;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
}

[type=checkbox]:checked,
[type=checkbox]:not(:checked) {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
}

/* Result*/
.abaixo {
  padding: 10px 0;
  border-top: 5px solid #f4cf00;
  border-bottom: 5px solid #f4cf00;
  margin-bottom: 25px;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}

.saudavel {
  padding: 10px 0;
  border-top: 5px solid #458d22;
  border-bottom: 5px solid #458d22;
  margin-bottom: 25px;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}

.sobrepeso {
  padding: 10px 0;
  border-top: 5px solid #da8c53;
  border-bottom: 5px solid #da8c53;
  margin-bottom: 25px;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}

.obeso {
  padding: 10px 0;
  border-top: 5px solid #cd5b1b;
  border-bottom: 5px solid #cd5b1b;
  margin-bottom: 25px;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}

.obeso-morbido {
  padding: 10px 0;
  border-top: 5px solid #c20d19;
  border-bottom: 5px solid #c20d19;
  margin-bottom: 25px;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}
.speech-bubble {
  position: relative;
  background: #77c0bf;
  border-radius: .4em;
  height: 80px;
  margin-bottom: 25px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #77c0bf;
  border-bottom: 0;
  margin-left: -20px;
  margin-bottom: -20px;
}

.h-100 {
  height: 100%;;
}
