<!-- Step One -->
<section class="light-blue lighten-5 h-100" *ngIf="first == true;">
  <div class="container p-5">
    <div class="row justify-content-center">
      <div class="col-md-4 align-self-center">
        <img src="./assets/logo.png" class="img-fluid mx-auto d-block" alt="">
      </div>
      <div class="col-md-5">
        <h2 class="text-center  pt-5">Informações de cadastro:</h2>
        <form [formGroup]="rF" (ngSubmit)="next()">
          <div class="md-form">
            <input type="text" formControlName="nome"  
              id="nome" class="form-control" requerid mdbInputDirective
              [ngClass]="{ 'is-invalid': sub1 && f.nome.errors }">
            <label for="nome">Nome</label>
          </div>

          <div class="md-form">
            <input type="email" id="email" formControlName='email' 
              class="form-control" requerid mdbInputDirective
              [ngClass]="{ 'is-invalid': sub1 && f.email.errors }">
            <label for="email">E-mail</label>
          </div>
          <div class="md-form">
            <p>Você pratica alguma atividade física?</p>
            <ui-switch formControlName='fisica' [checked]="true"></ui-switch>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary waves-light"
              [disabled]="!rF.valid" mdbWavesEffect type='submit'>Próximo</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Step Two -->
<section class="grey lighten-3 pt-5 h-100" *ngIf="second == true;" >
  <div class="container">
    <h4>Para um cálculo preciso, necessitamos de algumas informações básicas sobre você</h4>
    <form [formGroup]="Rf" (ngSubmit)="calcular()">
      <div class="row pt-5">
        <div class="col-md-4 text-center">
          <img src="./assets/shape.png" class='img-fluid' alt="">
          <div class="cc-selector">
            <h6 class='py-3'>Você é</h6>
            <input type="radio"  formControlName='genero' value="mulher" id='mulher' />
            <label class="drinkcard-cc visa" for="mulher"></label>
            <input type="radio" formControlName='genero' value="homem" id='homem' />
            <label class="drinkcard-cc mastercard" for="homem"></label>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <img src="./assets/shape.png" class='img-fluid' alt="">
          <div class="md-form">
            <h6 class='py-3'>Qual a sua altura?</h6>
            <input type="number" formControlName='altura' placeholder="175" 
              class="input-type  form-control text-center" mdbInputDirective>
            <label for="form58"></label>
            <h6>cm</h6>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <img src="./assets/shape.png" class='img-fluid' alt="">
          <div class="md-form">
            <h6 class='py-3'>Qual o seu peso?</h6>
            <input type="number" formControlName='peso' placeholder="82" 
              class="input-type  form-control text-center" mdbInputDirective>
            <label for="form58"></label>
            <h6>kg</h6>
          </div>
        </div>
        <div class="container text-center pt-5 py-5">
          <button type="submit" class="btn btn-info btn-block waves-light"
            mdbWavesEffect style="font-size: 25px;" [disabled]="!Rf.valid">
            Calcule seu IMC?
          </button>
        </div>
        <div class="container py-5">
          <div class='badge-n info-color-dark text-white'>
            <i class="fa fa-info-circle fa-lg fa-info mr-2" aria-hidden="true"></i>
            Precisamos dos seus dados! Insira as informações solicitadas no formulário 
            acima para fazer o cálculo desejado.
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- Step Three -->
<section class="text-center pt-5 h-100" *ngIf="third == true;">
  <h2 class='text-center py-3'>Seu resultado</h2>
  <img src="./assets/shape.png" class='img-fluid py-3' alt="">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div style='height: 105px !important;'></div>
      <div class="col-md-2">
        <div style='height: 105px;'>
          <div class="speech-bubble" *ngIf='abaixo == true'>
            <h6 class='text-white pt-2'>Seu IMC</h6>
            <h4 class='text-white'>{{dados.imc}}</h4>
          </div>
        </div>
        <div class="abaixo">
          <h6>Abaixo do peso</h6>
          <h4>0,0 - 19,0</h4>
        </div>
      </div>
      <div class="col-md-2">
        <div style='height: 105px;'>
          <div class="speech-bubble" *ngIf='saudavel == true'>
            <h6 class='text-white pt-2'>Seu IMC</h6>
            <h4 class='text-white'>{{dados.imc}}</h4>
          </div>
        </div>
        <div class="saudavel">
          <h6>Peso saudável</h6>
          <h4>19,1 - 24,0</h4>
        </div>
      </div>
      <div class="col-md-2">
        <div style='height: 105px;'>
          <div class="speech-bubble" *ngIf='sobrepeso == true'>
            <h6 class='text-white pt-2'>Seu IMC</h6>
            <h4 class='text-white'>{{dados.imc}}</h4>
          </div>
        </div>
        <div>
          <div class="sobrepeso">
            <h6>Sobrepeso</h6>
            <h4>24,1 - 29,0</h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div style='height: 105px;'>
          <div class="speech-bubble" *ngIf='obeso == true'>
            <h6 class='text-white pt-2'>Seu IMC</h6>
            <h4 class='text-white'>{{dados.imc}}</h4>
          </div>
        </div>
        <div class="obeso">
          <h6>Obeso</h6>
          <h4>29,1 - 38,9</h4>
        </div>
      </div>
      <div class="col-md-2">
        <div style='height: 105px;'>
          <div class="speech-bubble" *ngIf='morbido == true'>
            <h6 class='text-white pt-2'>Seu IMC</h6>
            <h4 class='text-white'>{{dados.imc}}</h4>
          </div>
        </div>
        <div class="obeso-morbido">
          <h6>Obeso mórbido</h6>
          <h4>39,0 + </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <div class='row badge-n info-color-dark text-white justify-content-center'>
      <div class="col-md-4">
        <h3>Seu IMC pessoal: {{dados.imc}}</h3>
      </div>
      <div class="col-md-4">
        <h3>Seu peso atual: {{dados.peso}}</h3>
      </div>
    </div>
  </div>
  <div class="container text-center pt-5 py-5">
    <img src="./assets/logo.png" class="img-fluid mx-auto d-block" alt="">
  </div>
</section>
